.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.hero img{
    margin-top: 100px;   
    width: 250px;
    height: 250px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 80px;
    font-weight: 600;
}

.hero p{
    text-align: center;
    width: 50%;
    font-size: 24px;
    line-height: 40px;
}

.hero h1 span{
    background: linear-gradient(210deg, #ff1313 0.70%, #e91992 92.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero-action{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(210deg, #ff1313 0.70%, #ff0095 102.06%);
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #fff;
}

.hero-resume {
    text-decoration: none;
    color: white;

}
.hero-resume{
    border: 2px solid #fff;
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(70deg, #ff1313 0.70%, #ff0095 102.06%);
    font-size: 20px;
    cursor: pointer;
}

.hero-connect:hover{
    border: 2px solid #0a0e21;
}

.hero-resume:hover{
    border: 2px solid #0a0e21;
}

<<<<<<< Updated upstream
@media screen and (max-width:768px){
    .hero h1{
        width: 85%;
        margin-left: -2vw;
        font-size: 50px;
    }

    .hero p{
        width: 80%;
        font-size: 25px;
    }

    .hero-action{
        display:inline-block;
    }

    .hero-connect{
        margin-bottom: 3vh;
        text-align: center;
        font-size: 20px;
        word-spacing: 2px;
    }
=======
@media screen and (max-width: 768px) {
    .hero{
        width: 100%;
        position: relative;
    }    
>>>>>>> Stashed changes
}