.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 40px;
    padding: 20px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 25px;
    cursor:pointer;
}

.nav-menu a{
    text-decoration: none;
    color: white;
}

.nav-connect{
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(210deg, #ff1313 0.70%, #ff0095 102.06%);
    font-size: 20px;
    cursor: pointer;
}

a.nav-connect {
    text-decoration: none; 
}
.nav-connect a {
    text-decoration: none !important;
}
.nav-menu li:hover{
    transform: scale(1.05);
    transition: 0.4s;
}

.nav-menu li img {
    display: none;
}

.nav-menu li.active img,
.nav-menu li:hover img {
    display: block;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.checkbtn{
    display:none;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        margin: 10px 20px;
        padding: 10px;
    }

    .nav-connect {
        display: none;
    }

    .checkbtn {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -100%;
    }

    .nav-menu.active {
        right: 0;
        display: flex;
    }

    .nav-menu li {
        font-size: 25px;
        padding: 15px 0;
    }

    .nav-mob-close {
        display: block;
        font-size: 25px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}