.footer{
    margin: 200px 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer-top-right p{
    font-size: 20px;
    font-weight: 600;
    max-width: 400px;
}

.footer-top-right{
    display: flex;
    gap: 20px;
    position: absolute;
    right: -20px;
    bottom: -5px;
}

.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323b;
    padding-right: 80px;
}

.footer-email-input input{
    outline:none;
    border: none;
    background: transparent;
    color: white;
    font-size: 50px;
    font-family: Outfit;
}

.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(210deg, #ff1313 0.70%, #ff0095 102.06%);
    cursor: pointer;
    transition: 0.4s;
}

.footer-bottom{
    display: flex;
    font-size: 19px;
}

/* .footer-bottom-left{
    display: flex;
    gap: 30px;
} */

.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    position: absolute;
    right: 200px;
}


.footer-email-input:hover{
    border:2px solid white;
}

.footer-subscribe:hover{
    background: linear-gradient(210deg, #ff0095 0.70%, #ff1313 102.06%);
}

@media screen and (max-width:768px) {

    .footer-top{
        display: none;
    }
    
    .footer-bottom{
        font-size: 19px;
        margin-bottom: 10vh;
    }
    
    /* .footer-bottom-left{
        display: flex;
        gap: 30px;
    } */
    
    .footer-bottom-right{
        margin-left: 10vw;
        position: absolute;
    }

    .bottom-line{
        width: 100%;
    }
    
}